body {
  background-color: white;
  font-family: "Glacial Indifference", sans-serif;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

@font-face{
    font-family: Glacial Indifference;
    /*Caso a fonte esteja na mesma pasta*/
    src: url("GlacialIndifference-Regular.otf");
}

/* Navigation */
nav {
  grid-area: nav;
  margin-top: 15px;
  margin-left: -200px;
}

nav h1 {
font-size: 50px;
color: #333333;
}
/* Main */
main {
  grid-area: content;
}
/* aside */
aside {
  grid-area: side;
  margin-right: 0.5rem;
}

/*  Header */
.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 200px;
}

.cabecalho h3 {
  font-size: 25px;
}

/* Logo */
#logo {
  display: flex;
  color: #FFF;
  text-decoration: none;
  background-image: url('../img/iconi.jpg');
  background-repeat: no-repeat;
  width: 210px;
  height: 137px;
}

/* Estilos do header tipografy */
.header a {
  float: left;
  color: #333333;
  text-decoration: none;
  padding: 23px 25px 10px 10px;
  font-size: 21px;
  letter-spacing: 3px;
  font-weight: 25px;
  border-radius: 6px;

}

.header-right a:hover {
  color: blue;
}

.header-right {
  float: right;
  padding: 50px 105px 0px 0px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 60px 1fr 10px;
  grid-gap: 10px;
  height: 100vh;
}

.container h1 {
  color:  #black;
}

.cabecalho p {
  color: blue;
}

/* Container da box de todas as caixas da hospedagem */
.box-container {
  display: flex;

}

/* Caixa unid */
.box {
  position: relative;
  width: 370px;
  margin: 18px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 0.75em;
}

/* Ajustes do contorno redondo da box */
.box-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1em;
  height: 285px;
  border-top-left-radius: 100px;
  border-top-right-radius: 0.75em;
}

.box-bottom {
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

/* Efeito hover e ajustes da caixa */
.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 285px;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  transition: all 700ms ease;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  opacity: 0;
  text-decoration: none;
}

/* Efeito hover e foco */
.overlay:hover,
.overlay:focus {
  opacity: 1;
}

/* Texto sobreposto das caixas da hospedagem */
.overlay-text {
  position: relative;
  color: #ffffff;
  font-family: 'Glacial Indifference';
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  /* Ajuste da posição do "Explore"*/
  top: 80%;
  transform: translateY(-50%);
}

/* Ajustes do texto dentro da box hospedagem */
.box-bottom h2 {
  font-family: 'Glacial Indifference';
  font-weight: 100;
  font-size: 32px;
  color: #222;
}

.box-bottom p {
  color: blue;
}

  /* Footer */
  footer {
   position: relative;
   z-index: 1;
   background: #144983;
   margin-top: -28px;
   padding: 48px 0 28px 0;
 }

 footer p {
   color: #f2f2f2;
 }
